<launch>
	
	<!-- motorcomm node -->
	<node pkg="motorcomm" type="motorcomm_node" name="motorcomm"/>
  
	<!-- engine_mgmt node -->
	<node pkg="engine_mgmt" type="engine_mgmt" name="engine_mgmt"/>
	
	<!-- encodercomm node -->
	<node pkg="encodercomm" type="encodercomm_node" name="encodercomm"/>

</launch>
