<launch>
 
	<!-- change ip -->
	<env name="ROS_IP" value="10.9.0.3"/>
	
	<!-- motorcomm node -->
	<node pkg="motorcomm" type="motorcomm_node" name="motorcomm"/>
  
	<!-- engine_mgmt node -->
	<node pkg="engine_mgmt" type="engine_mgmt" name="engine_mgmt"/>
	
	<!-- LMS1xx node -->
	<include file="$(find lms1xx)/launch/LMS1xx.launch"/>

        <!-- coll_detect_node -->
	<node pkg="coll_detect" type="coll_detect" name="coll_detect"/>




</launch>
