<launch>
	
	<!-- motorcomm node -->
	<node pkg="motorcomm" type="motorcomm_node" name="motorcomm"/>
  
	<!-- engine_mgmt node -->
	<node pkg="engine_mgmt" type="engine_mgmt" name="engine_mgmt"/>
	
	<!-- encodercomm node -->
	<node pkg="encodercomm" type="encodercomm_node" name="encodercomm"/>

	<!-- coll_detect_node -->
	<node pkg="coll_detect" type="coll_detect" name="coll_detect"/>
	
	<!-- relaycomm_node -->
	<node pkg="relaycomm" type="relaycomm_node" name="relaycomm"/>

	<!-- settings -->
 	<node pkg="settings" type="settings" name="settings"/>
</launch>
